body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #17a2b8;
  border-bottom: 1px solid #ddd;
  color: #fff;
}

.edit-profile {
  padding: 0.5em 1em;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar {
  background-color: #e9ecef;
  width: 200px;
  height: calc(100vh - 113px);
  position: fixed;
  left: 0;
  top: 113px;
  border-right: 1px solid #ddd;
}

.sidebar a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #212529;
  border-bottom: 1px solid #ddd;
}

.sidebar a:hover {
  background-color: #ced4da;
}
