.add-provider {
    padding: 0.5em 1em;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

header {
  background-color: #0066cc;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

main {
  margin: 20px;
}

h1, h2 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.alert {
  padding: 10px;
  margin-bottom: 20px;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}


.add-provider:hover {
  background-color: #218838;
}
.provider {
  display: flex;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.provider-info {
  flex: 1;
}

.provider-action {
  display: flex;
  align-items: center;
}
