:root {
  --primary-color: #3c7d9a;
  --secondary-color: #f0f0f0;
  --accent-color: #e8f1f2;
  --warning-color: #b22222;
  --font: "Helvetica Neue", Arial, sans-serif;
}

body {
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--secondary-color);
}

header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #17a2b8;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  max-width: 800px;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1em;
  min-width: 300px;
}
h3 {
  margin: 0 0 0.5em 0;
}

p {
  margin: 0.5em 0;
}

.accept-button,
.reject-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.accept-button:hover,
.reject-button:hover {
  background-color: var(--secondary-color);
  color: black;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.header-container h2 {
  pointer-events: auto;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.go-back {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  margin: 4px 2px;
  margin-right: 20px; /* Add margin-right to create space between the button and the heading */
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50px;
  transform: translateY(-50%);
}

.go-back:hover {
  background-color: white;
  color: black;
}
@media (min-width: 768px) {
  ul {
    flex-direction: row;
  }

  li {
    width: calc(50% - 2em);
  }
}

@media (min-width: 992px) {
  ul {
    flex-direction: row;
  }

  li {
    width: calc(33.333% - 2em);
  }
}

#message-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 999;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
