body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #aaa;
}

h1 {
  text-align: center;
  padding: 20px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input[type="submit"] {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.alert {
  padding: 20px;
  margin-bottom: 15px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.back-to-profile {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background-color: #3498db;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 50px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.back-to-profile:hover {
  background-color: #2980b9;
}
