body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}

header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #17a2b8;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.appointment-box,
.message-form {
  width: 600px; /* Fixed width */
  margin: 1em auto;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
}

.message-form {
  height: 300px; /* Fixed height */
}

.message-form form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.message-form textarea {
  flex-grow: 1;
  resize: vertical;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1em;
}

.message-form button {
  padding: 0.5em 1em;
  background-color: #17a2b8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-form button:hover {
  background-color: #138496;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.go-back,
.send-message {
  width: 100%; /* Adjust the width to full width of the parent */
  padding: 0.5em 1em;
  margin: 0.5em 0; /* Add vertical margin */
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.message-form .go-back {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
}

.message-form .go-back:hover {
  background-color: #c82333;
}

.send-message {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.send-message:hover {
  background-color: #218838;
}
